html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-container h4{
    text-transform: uppercase;
    font-family: sans-serif;
}

#container-ballons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    max-height: 450px;
    margin-bottom: 2rem;
    overflow: auto;
}

.ballons{
    margin: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    box-sizing: border-box;
}